<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <!-- webフォント -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <!-- googleのcdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../js/index.js"></script>
    <title>portfolio!</title>
</head>
<body>

  <div id="firstview" class="firstview">
    <div class="title"><a href="#top" class="js-nav">portfolio!</a></div>
  </div>

  <!-- header.ejs -->
  <%- include('./_header.ejs') %>

  <ul class="main_list">
    <li class="main_list-item">
      <div id="top" class="contents">
        <div class="contents-title">TOP</div>
        <div class="contents-detail">
          <ul class="detail">
            <li class="detail-item">TOP・・・このページ/スムーススクロール/スクロール途中のヘッダー固定</li>
            <li class="detail-item">API・・・郵便番号入力で住所表示（API使用）</li>
            <li class="detail-item">CAROUSEL・・・カルーセルでギャラリー作成</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="main_list-item">
      <div id="api" class="contents">
        <div class="contents-title">API</div>
        <div class="contents-detail">
          <ul class="detail">
            <li class="detail-item">郵便番号入力で都道府県・市区町村・町域表示<br>エラーテキスト表示・非表示<br>
              使用したAPI：http://zipcloud.ibsnet.co.jp/doc/api<br>
              <span class="detail-item_grey">＊存在しない郵便番号で検索できちゃうのはAPIの仕様です・・・</span></li>
            <li class="detail-item"><img src="../img/img_api.png" alt="" width="600"></li>
            <li class="detail-item"><a href="../post.html" class="detail-item_link">APIページへ</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="main_list-item">
      <div id="carousel" class="contents">
        <div class="contents-title">CAROUSEL</div>
      </div>
    </li>
  </ul>

  <!-- footer.ejs -->
  <%- include('./_footer.ejs') %>

</body>
</html>