<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js"></script>
    <title>おもちカフェ</title>
</head>
<body>

  <!-- ヘッダーejs -->
  <%- include('./_header.ejs') %>

  <div class="main">
    <div class="main-text">テキストテスト</div>
  </div>

  <!-- フッターejs -->
  <%- include('./_footer.ejs') %>

</body>
</html>