/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  height: 100vh;
  color: #333;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.firstview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 30px;
}

.header .header-contents {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 800px;
}

.header.header--fixed {
  position: fixed;
  top: -200px;
  z-index: 999;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s;
}

.header.header--fixed.is-active {
  top: 0;
}

.title {
  color: #fff;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.footer .footer-text {
  color: #fff;
}

.menu {
  display: flex;
}

.menu .menu-item {
  margin-left: 15px;
}

.menu .menu-item:first-child {
  margin-left: 0;
}

.menu .menu-item_link {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  transition-duration: .2s;
}

.menu .menu-item_link:hover {
  transform: translate(1px, 2px);
  transition-duration: .2s;
}

.main_list .main_list-item {
  margin-top: 200px;
  height: 100vh;
}

.main_list .main_list-item:first-child {
  margin-top: 0;
}

.contents {
  min-height: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
}

.contents .contents-title {
  position: relative;
  padding-bottom: 5px;
  font-size: 40px;
  color: #333;
}

.contents .contents-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 80%;
  height: 3px;
  background-color: #6173b6;
  border-radius: 2px;
}

.contents .contents-detail {
  margin-top: 20px;
}

.detail .detail-item {
  margin-top: 10px;
  line-height: 1.5;
}

.detail .detail-item:first-child {
  margin-top: 0;
}

.detail .detail-item_grey {
  color: #777;
}

.detail .detail-item_link {
  font-size: 30px;
  text-decoration: underline;
}

.detail .detail-item_link:hover {
  text-decoration: none;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper .wrapper-title {
  color: #fff;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.wrapper .wrapper-contents {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}

.wrapper.wrapper--pull .wrapper-contents {
  margin-top: 0;
}

.post .post-title {
  font-size: 18px;
  font-weight: bold;
}

.post .post-detail {
  margin-top: 10px;
}

.post.post--layout {
  margin-top: 15px;
}

.post_input {
  padding: 5px 10px;
  font-size: 14px;
  border: solid 2px #9dc4f1;
  border-radius: 4px;
}

.post_btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #9dc4f1;
  border-radius: 4px;
  box-sizing: border-box;
}

.post_btn .post_btn-text {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.post_btn.post_btn--layout {
  margin-left: 10px;
}

.error {
  margin-top: 5px;
  color: #d55555;
  font-size: 14px;
  font-weight: bold;
}

.address .address-text {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.address .address-text:first-child {
  margin-top: 0;
}

.address .address-text_title {
  width: 100px;
}

.address_input {
  padding: 5px 10px;
  font-size: 14px;
  border: solid 2px #9dc4f1;
  border-radius: 4px;
}

.address_list {
  width: 250px;
  padding: 8px 14px;
  background-color: #9dc4f1;
  font-size: 12px;
  border-radius: 4px;
}
